$primary-color: #f0a5c4;
$light-color: #ffecf2;
$vivid-color: #f56e97;

@mixin font($size: 12px, $weight: normal, $color: #000) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-layout($columns, $gap: 20px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
}
